<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Farm Activity Details</h1>

    <p><strong>Name:</strong>{{activity.name}}</p>
    <p><strong>Description</strong>{{activity.description}}</p>
    <p><strong>Start Date:</strong>{{activity.start_date}}</p>
    <p><strong>End Date:</strong>{{activity.end_date}}</p>
    

    <a href="{% url'farm_activity_update' activity.pk %}">Update</a>
    <a href="{% url'farm_activity_delete' activity.pk %}">Delete</a>
    <a href="{% url'farm_activity_list' %}">Back To List</a>

</body>
</html>