<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Management System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1 class="text-center mt-5">Welcome to the Farm Management System</h1>

        <!-- Navigation Buttons -->
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'signup' %}" class="btn btn-transparent text-success mx-2 border border-success">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn-success mx-2">Login</a>
            <a href="{% url 'logout' %}" class="btn btn-danger mx-2">Logout</a>
        </div>
    </div>

    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
