<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card p-4 shadow-sm " style="width: 100%; max-width: 400px;">
            <h1 class="text-center mb-4">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </div>
                
            </form>
            <p class="text-center mt-3">
                Don't have an account? <a href="{% url 'signup' %} " class="text-success">Sign up here</a>.
            </p>
            <p class="text-center">
                <a href="{% url 'logout' %}" class="text-danger">Log out</a>.
            </p>
        </div>
    </div>

    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

